{% extends 'base.html' %}

{% block content %}
<center>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success text-center">{{ message }}</div>
        {% endfor %}
    {% endif %}

    <br>
    <h2 class="text-center mb-4">Register</h2>
    <form method="POST" action="{% url 'register' %}" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="mb-3">
            <label for="{{ form.username.id_for_label }}" class="form-label">Username</label>
            {{ form.username }}
        </div>

        <div class="mb-3">
            <label for="{{ form.email.id_for_label }}" class="form-label">Email</label>
            {{ form.email }}
        </div>

        <div class="mb-3">
            <label for="{{ form.first_name.id_for_label }}" class="form-label">First Name</label>
            {{ form.first_name }}
        </div>

        <div class="mb-3">
            <label for="{{ form.last_name.id_for_label }}" class="form-label">Last Name</label>
            {{ form.last_name }}
        </div>

        <div class="mb-3">
            <label for="{{ form.password1.id_for_label }}" class="form-label">Password</label>
            {{ form.password1 }}
        </div>

        <div class="mb-3">
            <label for="{{ form.password2.id_for_label }}" class="form-label">Confirm Password</label>
            {{ form.password2 }}
        </div>

        <button type="submit" class="btn btn-dark">Register</button>
    </form>

    <p class="text-center mt-3">Déjà un compte ? <a href="{% url 'login' %}">Login</a></p>
</center>
{% endblock %}